<p>
  <strong>titular:</strong>
  <%= @articulo.titular %>
</p>

<p>
  <strong>contenido:</strong>
  <%= @articulo.titular %>
</p>

<p>
  <strong>titular:</strong>
  <%= @articulo.titular %>
</p>

<p>
  <strong>contenido:</strong>
  <%= @articulo.titular %>
</p>

<p>
  <strong>titular:</strong>
  <%= @articulo.titular %>
</p>

<p>
  <strong>contenido:</strong>
  <%= @articulo.titular %>
</p>